<html>
    <head>
        <title>About me</title>
    </head>
    <header>
        <h1>All about me</h1>
    </header>
    <div>
        <p>
            The autobiograpgy of Kuwar Dua.
        </p>
    </div>
</html>