<html>
    <head>
        <title>Welcome Home</title>
    </head>
    <header>
        <h1>Welome Home to my Blog</h1>
    </header>
    <div>
        <p>
            This is the beginning of my insane ramblings.
        </p>
    </div>
</html>